{
  "ApiKey": "RxIf8blabalbalb8pnzK7",
  "ApiSecret": "rr6WjeyGwqqblablabalaZwbbsDpKH",
  "AccessToken": "2512654958-blablabalD4Bln9o29wDLnXRnDFK",
  "AccessTokenSecret": "llIjjNKlXZWqSblablabalDgZctDG1QqzN"
}
