[Unit]
Description=ShouldIDoThat container
Author=Jojo
After=docker.service

[Service]
Restart=always
ExecStart=/bin/bash -c '/usr/bin/docker start -a shouldidothat || docker run -v /etc/shouldidothat/conf.json:/etc/shouldidothat/conf.json --name shouldidothat eljojo/shouldidothat'
ExecStop=/usr/bin/docker stop -t 2 shouldidothat

[Install]
WantedBy=multi-user.target
